<h1>Contador</h1>
<p>{{valorContador}}</p>

<app-hijo
[recibeHijo]="mensajePadre"
(mensajeDesdeHijo)="recibirMensaje($event)"
(incrementarDesdeHijo)="aumentarContador()"
(decrementarDesdeHijo)="decrementarContador()"
></app-hijo>

<h5>Mensaje recibido desde el componente HIJO: {{mensajeRecibidodesdeHijo}}</h5>

<h1>{{nombre}}</h1>
<button type="button" ((click)="saludar()") >Saludar</button>
<button type="button" ((click)="preguntar()") >Preguntar por Hijo</button>

<p>Cambio para comprobar que funciona  git cambios</p>
